/* app css stylesheet */
.hoverwell:hover {
  background-color: #52575c;
  cursor: pointer;
}
select, textarea {
  color: #52575c;
}

.well-title {
  margin-top: 0px;
}
.session {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.votingWidget {
  height: 64px;
  padding: 7px;
}

.votingButton {
  padding-left:6px;
  cursor:pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
  /*Ovo ovdje u kombinaciji sa ng-cloak nad bodyem omogućuje da se prvo učita sve i onda
    rendera html (nema flashanja stranice dok se nešto učitava). U biti hide-unhide.
    Navodno se isti efekt dobiva smještanjem script tagova u head. Zar nije to po 
    jebenom defaultu? 
  */
}

.padded {
  padding:20px;
}

.blue {
  color: blue;
}

input.ng-invalid.ng-dirty {
  background-color: pink;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}